<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxf.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mxf.domain.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="role" property="role" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="status" property="status" />
    </resultMap>

    <resultMap id="vo" type="com.mxf.domain.vo.UserVo">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="status" property="status" />
        <association column="role" property="role" select="queryRole"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, role, phone, email, status
    </sql>

    <select id="queryAllUser" resultMap="vo">
        select
            *
        from
            user
    </select>

    <select id="queryUserVoById" resultMap="vo">
        select
            *
        from
            user
        where
            id = #{id}
    </select>

    <select id="queryRole" resultType="com.mxf.domain.Role">
        select
            *
        from
            role
        where
            id = #{role}
    </select>
</mapper>
