<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxf.mapper.ConferenceRoomTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mxf.domain.ConferenceRoomType">
        <id column="id" property="id" />
        <result column="room_type_name" property="roomTypeName" />
        <result column="room_area" property="roomArea" />
        <result column="room_type_capacity" property="roomTypeCapacity" />
        <result column="room_type_desc" property="roomTypeDesc" />
        <result column="room_cover" property="roomCover" />
        <result column="room_type_create_time" property="roomTypeCreateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, room_type_name, room_area, room_type_capacity, room_type_desc, room_cover, room_type_create_time
    </sql>

</mapper>
