/*@font-face {
  font-family: custom;
  src: url("./OneDirection.ttf");
}*/
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "custom";/*阿里妈妈东方大楷 Regular*/
  font-weight: 400;
  src: url("./Alimama_DongFangDaKai_Regular.woff2") format("woff2"),
       url("./Alimama_DongFangDaKai_Regular.woff") format("woff");
  font-display: swap;
}

/*

src: url("//at.alicdn.com/wf/webfont/K9J6R9tvEzcU/bY0fzyKGzzEtoNQt41nCC.woff2") format("woff2"),
       url("//at.alicdn.com/wf/webfont/K9J6R9tvEzcU/uDfuT-qHefckpGC6WN4SB.woff") format("woff");
*/
